<body>
    <div class="container">
        <header>
            <div class="logo">
                <i class="fas fa-gamepad"></i>
                <p> The Game Zone</p>
            </div>
            <ul class="navbar">
                <li><a href="/" class="active">HOME</a></li>
                <li><a href="video.html">PREAMBLE</a></li>
                <li><a href="#">SUPPORT</a></li>
                <li><a href="/rank">RANK</a></li>
                <li><a href="/login">LOGIN</a>/<a href="/register">REGISTER</a></li>
            </ul>
        </header>

        <!-- content desc starts here -->
        <div class="content-wrapper">
            <div class="content-desc">
                <h1>The Game Zone</h1>
                <p>
                    Compete witg <span>Rakuto</span> in this immense challenge and be the winner of alll time.
                </p>
                <p>
                    Our top PLayer are warring for your for challenge , click the button below to get starts.
                </p>
                <button type="button" id="btn-2">Challen Rakuto Now</button>
            </div>
            <div class="rakuto"></div>
        </div>
    </div>

    <!-- Hero section ends here-->

    <div class="logo-section">
        <i class="fas fa-gamepad"></i>
        <h1> The Game zone</h1>
    </div>
    <!-- lo go section ends here-->
    <section class="section-1">
        <div class="section-1-wrapper">
            <h1>ACTION GAME</h1>
            <br>
            <div class="section-1-img">
                 <a href="#">
                    <div class="img img"></div>
                </a>
                <a href="#">
                    <div class="img img-1"></div>
                </a>
                <a href="#">
                    <div class="img img-2"></div>
                </a>
                <a href="#">
                    <div class="img img-3"></div>
                </a>
                <a href="#">
                    <div class="img img-4"></div>
                </a>
                <a href="#">
                    <div class="img img-5"></div>
                </a>
                <a href="#">
                    <div class="img img-6"></div>
                </a>
               
            </div>
        </div>

        <!-- section one ends here -->

        <div class="game-categories">
            <h1>Player Doing Update</h1>
            <div class="game-wrapper">
                <a href="#">
                    <div class="gw gw-1"></div>
                </a>
                <a href="#">
                    <div class="gw gw-2"></div>
                </a>
                <a href="#">
                    <div class="gw gw-3"></div>
                </a>
                <a href="#">
                    <div class="gw gw-4"></div>
                </a>
            </div>
        </div>


        <!-- section one ends here -->

        <div class="game-categories left">
            <h1>Pet In Game</h1>
            <div class="game-wrapper">
                
                <a href="#">
                    <div class="gw gw-6"></div>
                </a>
                <a href="#">
                    <div class="gw gw-7"></div>
                </a>
                <a href="#">
                    <div class="gw gw-8"></div>
                </a>
                <a href="#">
                    <div class="gw gw-9"></div>
                </a>
                <a href="#">
                    <div class="gw gw-4"></div>
                </a>
            </div>
        </div>
    </section>
    <!--
        section 2 start here
    -->
    <section class="section-2">
        <h1>The Grande Match</h1>
        <div class="players">
            <div class="p-image p-image-1"></div>
            <span>Vacklish</span>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="players">
            <div class="p-image p-image-2"></div>
            <span>Long Nhat</span>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="players">
            <div class="p-image p-image-3"></div>
            <span>Vacklish</span>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="players">
            <div class="p-image p-image-4"></div>
            <span>Vacklish</span>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="players">
            <div class="p-image p-image-5"></div>
            <span>Vacklish</span>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </section>

    <!-- section 3 start here-->
    <div class="section-3">
        <h1>What people say about us</h1>
        <div class="section-3-wrapper">
            <div class="feedback"></div>
            <div class="feedback-desc">
                <p>lorem ipsum dolor sit amen consectertur adepis elit . remdum delectus error
                    orem ipsum dolor sit amen consectertur adepis elit . remdum delectus error,
                    orem ipsum dolor sit amen consectertur adepis elit . remdum delectus error,,</p>
                <br>
                <i class="far fa-grin-squint-tears"></i>
                <h4>OSCAR</h4>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-body">
            <div class="logo footer-logo">
                <i class="fas fa-gamepad"></i>
                <h1>TheGameZone</h1>
            </div>
            <ul>
                <h3>Short Links</h3>
                <li><a href="#">Arcade</a></li>
                <li><a href="#">Arcade</a></li>
                <li><a href="#">Arcade</a></li>
                <li><a href="#">Arcade</a></li>
            </ul>
            <ul>
                <h3>ACTION GAME</h3>
                <li><a href="#">Arcade</a></li>
                <li><a href="#">Arcade</a></li>
                <li><a href="#">Arcade</a></li>
                <li><a href="#">Arcade</a></li>
            </ul>

            <ul>
                <h3>GET IN TOUCH</h3>
                <li><a href="#"><i class="fas fa-facebook"></i>Arcade</a></li>
                <li><a href="#"><i class="fas fa-facebook"></i>Arcade</a></li>
                <li><a href="#"><i class="fas fa-facebook"></i>Arcade</a></li>
                <li><a href="#"><i class="fas fa-facebook"></i>Arcade</a></li>
            </ul>
        </div>
    </footer>

</body>