<body>
<div class="box">
    <div class="containerr">
        <form method="post" action="/senotpmail">
            <label for="email">Email:</label>
            <input type="email" class="input" placeholder="Email" name="email" required>
            <text>Lưu ý Khi gởi cần chú ý đúng email sau khi OTP được gởi về thì cần vào đổi thông tin ngay ,chúc bạn 1 ngày vui vẻ <3</text>
            <button type="submit">Gửi</button>
        </form>
    </div>
    </div>
</body>