<body>
    <div class="box">

        <div class="containerr">
            <form method="post" action="/resetPassword">
                <label for="email">Email:</label>
                <input type="email" class="input" placeholder="Email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" class="input" placeholder="Password" name="password" required>

                <label for="otp">OTP:</label>
                <input type="text" id="otp" name="otp" placeholder="Nhập mã OTP" required>


                <button type="submit">Gửi</button>
            </form>
        </div>
    </div>

</body>